<h1 class="text-center pt-5">Quote list</h1>
<%= link_to "Add quote", new_quote_path, {:class => 'btn btn-success'}%>
<ul class="list-group pt-2">
<% @quote.each do |quote| %>
	<li class="list-group-item">
		<p class="lead"><%= quote.text %></p>
		<p><%= quote.author %></p>
		<p><%= quote.created_at.strftime('%d %B %Y') %></p>
	</li>
	
<% end %>
</ul>
<%= will_paginate @quote, ({:class => 'text-center pt-2'}) %>