<h1 class="pt-5 text-center">Add quote</h1>
<%= form_for :quote, url: quotes_path do |f| %>
  <% if @quote.errors.any? %>
    <% @quote.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
	<p>
   <%= f.label :text %>
   <%= f.text_field :text, {:class => 'form-control'} %> 
  </p>
  <p>
    <%= f.label :author %>
    <%= f.text_field :author, {:class => 'form-control'} %>
  </p>

  <%= f.submit ({:class => 'btn btn-success'}) %>
   
  <% end %>


