<!DOCTYPE html>
<html>
  <head>
    <title>Quoter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-success navbar-fixed-top">
      <%= link_to 'QuoteGenerator', root_path, {:class => "nav-link navbar-brand text-light"} %>
    </nav>
    <div class="container">
       <%= yield %>
    </div>
   
  </body>
</html>
